<footer class="pv4 ph3 ph5-m ph6-l mid-gray tc">
  <small class="f6 db tc">{{ now.Format "2006" }} Patrick Bollenbach</small>
  <a href="https://experts.shopify.com/patrick-bollenbach" target="_blank"><img class="w-50 w-10-ns ma3 pt2" width="175" src="/images/shopify-experts.png"></a>
  <div class="tc mt3">
    <a href="/about"    title="Terms" class="f6 dib ph2 link mid-gray dim">About</a>
    <a href="/contact"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Contact</a>
    <a href="https://wait.li"  title="Wait.li" class="f6 dib ph2 link mid-gray dim">Wait.li</a>
    <a href="https://recipekit.app"  title="Recipe Kit" class="f6 dib ph2 link mid-gray dim">Recipe Kit</a>
  </div>
</footer>