{{ define "main" }}
  <article class="cf pa2 pa0-ns">
    <div class="fl-ns w-100 w-100-ns tl pt4-ns pb0 pb5-ns ph3 ph6-l">
      <h1 class="f1 fw1 dib v-mid black-80">
        I build unique, problem solving Shopify apps.
      </h1>
      <h2 class="f2 fw1 black-80 mt0 dn db-ns">
        Founder of <a class="sl-red" href="https://apps.shopify.com/recipe-kit?source=bolle_website" target="_blank">Recipe Kit</a> & <a class="sl-red" href="https://apps.shopify.com/product-waiting-lists?source=bolle_website" target="_blank">Product Waiting Lists.</a>
      </h2>
      <p class="f3 fw1 black-80">Currently in Kitchener, Canada.</p>
      <p class="f3 fw1 black-80">I'm big into surfing, travelling, and listening to really quiet music.</p>
      <p class="f4 fw1 black-80">PS. I still do some freelance Shopify development. If you need a hand with Shopify dev work (theme, app), <a href="mailto:patrick@bollenbach.ca" class="sl-red">send me an email</a> and we'll have a chat.</p>
      <!-- <a class="f2 link dim ba bw2  b--sl-blue ph3 pv2 mb2 dib black-90" href="/projects">View Projects +</a>
      <a class="f2 link dim ba bw2 ph3 pv2 mb2 dib sl-red" href="/contact">Contact Me</a> -->

      <hr class="pt4 dashed">
      <h2 class="f2 fw1">Recent Articles</h2>
      {{ range first 2 (where .Pages "Section" "posts") }}
        <a href="{{ .Permalink }}" class="fl w-100 w-50-ns pr4 pb4 link">
          <div class="black-80 lh-copy f4">
              <h2 class="f3 fw1 underline">{{ .Title }}</h2>
              {{ .Summary }}
          </div>
        </a>
      {{ end }}
    </div>

    <div>
    </div>

    <!-- {{ range first 4 (where .Data.Pages.ByWeight "Section" "in" (slice "projects")) }}
    <div class="fl w-100 w-50-ns pa3">
      <a href="{{ .Permalink }}" class="dim db no-underline black shadow-5"><img class="db w-100 vh-50-ns" src="{{ .Params.thumbnail }}"></a>
    </div>
  {{ end }} -->
  </article>
{{ end }}