{{ $.Scratch.Add "labelClasses" "f4 fw1 b dib mb1 mt3 mid-gray w-100 w-50-ns tl" }}
{{ $.Scratch.Add "inputClasses" "w-100 f4 fw1 pv3 ph3 bg-white ba b--black w-100 w-50-ns tl" }}

<form class="black-80 tl sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form" name="contact" data-netlify="true">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Your Name</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">Email Address</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
    <div class="requirements f6 gray glow i overflow-hidden">
      An email address is required.
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">Message</label>
    <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>
    <br>
    <input class="db mt3 w-100 white pa3 bg--sl-red w-100 w-50-ns f3 fw1" type="submit" value="Send" />

</form>
