{{ define "main" }}
    <section class="mw9 center cf">
      <h1 class="f3 f2-m f1-l tc fw2">Articles</h1>

      {{ range .Paginator.Pages }}
          {{- partial "summary.html" . -}}
      <hr class="fl w-100 dashed">
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
{{ end }}
