{{ define "main" }}
<article class="pa3 pa4-ns black-80 w-60 w-100-s ma0 center">
  <small class="f5">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
  <h1 class="black-80 f1 fw1 tl">{{ .Title }}</h1>
  <div class="f4 lh-copy">
    {{ .Content }}
  </div>
</article>
{{ end }}
